.cvswrap {
  display: flex;
    text-align: center;
    width: 100%;
}
canvas {
    outline: 5px solid black;
    width: 50vw;
}

#nipplediv {
    float: left;
    background-color: rgb(182, 182, 182);
    width: 25vw;
    height: 50vh;
}

.button {
    padding: 30px;
    border-radius: 50%;
    color: #5e5e5e;
  }
  
  .button:hover {
    background-color: #d3d3d3;
  }
  
  .button:active {
    transform: scale(-10px);
  }

#buttondiv {
  display: inherit;
  float: right;
  padding-left: 12.5%;
  width: 25vw;
  height: 50vh;
  background-color: rgb(182, 182, 182);
}